@font-face {
    font-family: "fakezi";
    src: url(../fuentes/ITCOfficinaSansStdBook.otf);
}

.text-fakezi{
    font-family: fakezi;
}

.change-ud{
    font-family: 'Times New Roman';
    font-size: 20px;
    resize: none;
    height: 2rem;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

body{
    padding-top: 5rem;
}

.fix-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 8px 8px gray;
}