@font-face {
    font-family: "fakezi";
    src: url(../fuentes/ITCOfficinaSansStdBook.otf);
}

.text-fakezi{
    font-family: fakezi;
}

.change-ud{
    font-family: 'Times New Roman';
    font-size: 20px;
    resize: none;
    height: 2rem;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

body{
    padding-top: 4.5rem;
}

.fix-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 8px 8px gray;
}

.btn-up{
    color: white;
    font-size: 2rem;
    background-color: #1A384D;
    border: none;
    border-radius: 50%;
    padding: 0.2rem 1.1rem 0.8rem 1.1rem; 
    position: fixed; 
    top: 80%;
    left: 80%;
    z-index: 1;
}

.btn-up:hover{
    background-color: #0b2639;
    color: lightgray;
}

/*  BILL    */
.productDescription{
    font-size: 8px;
}

.productDescription:hover{
    font-size: 12px;
}